<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <div id="myMap"></div>
    </div>
    <div class="col-lg-3">
      <div>
        <h3>Действия:</h3>
        <br>
        <a class="btn btn-primary" id="downloadFile">Скачать данные о метках</a><span id="ajax"></span>
        <br>
        <button style="margin-top: 10px" id="clearMap" class="btn btn-primary">Очистить карту</button>
      </div>
      <div style="margin-top: 10px">
        <h3>Найти точку:</h3>
        <br>
        Долгота: <input type="text" id="lng">
        <br>
        Широта: <input type="text" id="lat">
        <br>
        <button style="margin-top: 10px" id="findPoint" class="btn btn-primary">Найти</button>
      </div>
      <div style="margin-top: 10px">
        <h3>Полигон:</h3>
        <br>
        Длина: <input type="text" id="length">
        <br>
        Высота: <input type="text" id="height">
        <br>
        <button style="margin-top: 10px" class="btn btn-primary" id="drawPolygon">Нарисовать полигон</button>
      </div>
      <div style="margin-top: 10px">
        <h3>Сетка:</h3>
        <br>
        Расстояние по горизонтали: <input type="text" id="horizontalLength">
        <br>
        Расстояние по вертикали: <input type="text" id="verticalLength">
        <br>
        <button style="margin-top: 10px" class="btn btn-primary" id="drawGrid">Нарисовать сетку</button>
      </div>
      <!-- <div style="margin-top: 10px">
        <input type="checkbox" id="isPaint" checked> Режим рисования
        <br>
        <button style="margin-top: 10px" class="btn btn-primary" id="drawLine">Нарисовать</button>
      </div>
      <div style="margin-top: 10px">
        Расстояние 1: <input type="text" id="paramOne">
        <br>
        Расстояние 2: <input type="text" id="paramTwo">
        <br>
        Угол 1: <input type="text" id="paramThree">
        <br>
        Угол 2: <input type="text" id="paramFour">
        <br>
        <button style="margin-top: 10px" class="btn btn-primary" id="drawGrid">Нарисовать сетку</button>
      </div> -->
    </div>
  </div>
</div>