<!DOCTYPE html>
<html>
<head>
  <title>Geomap</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbqVxJe0rq7PBcwVDFBnw-2jCLbe5OQe4"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
